body, div {
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    background: yellow;
    overflow: hidden;
    transition: 400ms;
    background-position: center;
    background-size: cover;
} .mainContainer {
    width: 100%;
    height: 100vh;
    overflow: auto;
} .containerForScroll {
    width: 100%;
    height: 200vh;
    overflow: hidden;
    
} .containerForBox {
    width: 100%;
    display: block;
    overflow: hidden;
    height: 100vh;
    position: sticky;
    top: 0vh;
    z-index: 3;
} .box {
    width: 50%;
    height: 100vh;
    background-image: radial-gradient(white 31%,white 21%,white 37%,black 39%,yellow 33%, red 33%);
    background-repeat: round;
    position: absolute;
    top: 0vh;
    z-index: 2;
    background-size: 200%;
    background-position: 180% 100%;
    display: flex;
    align-items: center;
    justify-items: right;
    z-index: 3;
} #box2 {
    width: 50%;
    background-position: -19% 200%;
    transform: rotate(180deg);
    margin-left: 50%;
} .eye {
    width: 30%;
    background: url(./eye.jpg);
    box-shadow: 0 0 10px 3px black;
    background-position: center;
    background-size: cover;
    height: 30%;
    position: relative;
    border-radius: 50%;
    top: 0vh;
    left: 32vw;
} #eye2 {
    animation-name: eyeAnimation;
    animation-duration:  5s;
    animation-timing-function:  linear;
    animation-delay:  0s;
    animation-iteration-count:  infinite;
    animation-direction: reverse'
} @keyframes eyeAnimation {
    0%{top: 0vh;left: 22vw;transform: skew(0deg, 0deg) rotateY(30deg);}
    5%{top: 10vh;left: 32vw;transform: skew(-10deg, 1deg) rotateY(0deg);}
    20%{top: 10vh;left: 32vw;transform: skew(-10deg, 1deg) rotateY(0deg);}
    25%{top: 0vh;left: 32vw;transform: skew(0deg, 0deg) rotateY(0deg);}
    40%{top: 0vh;left: 32vw;transform: skew(0deg, 0deg) rotateY(0deg);}
    45%{top: -10vh;left: 32vw;transform: skew(10deg, 1deg) rotateY(0deg);}
    60%{top: -10vh;left: 32vw;transform: skew(10deg, 1deg) rotateY(0deg);}
    65%{top: 0vh;left: 19vw;transform: skew(0deg, 0deg) rotateY(30deg);}
    100%{top: 0vh;left: 19vw;transform: skew(0deg, 0deg) rotateY(30deg);}
}  #eye1 {
    animation-name: eyeAnimation2;
    animation-duration:  5s;
    animation-timing-function:  linear;
    animation-delay:  0s;
    animation-iteration-count:  infinite;
} @keyframes eyeAnimation2 {
    0%{top: 0vh;left: 35vw;transform: skew(0deg, 0deg) rotateY(30deg);}
    5%{top: -10vh;left: 22vw;transform: skew(-10deg, 1deg) rotateY(0deg);}
    20%{top: -10vh;left: 22vw;transform: skew(-10deg, 1deg) rotateY(0deg);}
    25%{top: 0vh;left: 32vw;transform: skew(0deg, 0deg) rotateY(0deg);}
    40%{top: 0vh;left: 32vw;transform: skew(0deg, 0deg) rotateY(0deg);}
    45%{top: 10vh;left: 22vw;transform: skew(10deg, 1deg) rotateY(0deg);}
    60%{top: 10vh;left: 22vw;transform: skew(10deg, 1deg) rotateY(0deg);}
    65%{top: 0vh;left: 35vw;transform: skew(0deg, 0deg) rotateY(30deg);}
    80%{top: 0vh;left: 35vw;transform: skew(0deg, 0deg) rotateY(30deg);}
    100%{top: 0vh;left: 35vw;transform: skew(0deg, 0deg) rotateY(30deg);}
} .meLooking {
    transform-origin: bottom;
    transform: rotateX(90deg);
    width: 40vw;
    height: 40vw;
    position: fixed;
    bottom: -5;
    left: 10vw;
    background: transparent;
    transition: 400ms;
    display: flex;
    z-index: 2;
} .dialogue1 {
    width: 50vw;
    height: 50vh;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 25vh;
    left: 35vw;
    transition: 600ms;
    display: grid;
    grid-template-rows: 50% 50%;
    opacity: 0;
    transition: 600ms;
    outline: 2px solid white;
    outline-offset: 0px;
    padding: 30px;
    filter: blur(11px);
    z-index: 1;
    font-family: 'Spectral', serif;
    cursor: zoom-in;
} .dialogueContainer {
    font-size: -webkit-xxx-large;
    overflow: hidden;
} .contentDialogue {
    width: 100%;
    height: 100%;
    transition: 500ms;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
} #contentDialogue1 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}  #contentDialogue2 {
    width: 100%;
    height: 90%;    
    display: grid;
    grid-template-rows: 90% 10%;
} #contentSubDialogue1 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
} #contentSubDialogue2 {
    width: 100%;
    height: 100%;
    font-size: 10px;
    direction: rtl;
} #contentSubDialogue2 > span {
    margin-right: 20px;
}.slideImageAnimator {
    animation-name: slideImageAnimation;
    animation-duration:  15s;
    animation-iteration-count:  infinite;
    animation-timing-function:  linear;
} @keyframes slideImageAnimation {
        0%{left: 10vw}
        50%{left: 0vw}
        100%{left: 10vw}
}
@media only screen and (max-width:800px) {
    .dialogue1 {
        width: 100%;
        margin: 0px;
        left: 0px;
        top: 0px;
    } .meLooking {
        height: 70vh;
    }
} .dialogue1Menu {
    width: 50px;
    height: 50px;
    background: orange;
    position: absolute;
    top: 3vh;
    left: calc(100% - 67px);
    display: none;
    cursor: zoom-out;
} .buildings {
    width: calc(100% -17px);
    display: grid;
    bottom: 0vh;
    position: absolute;
    left: -5vw;
    filter: blur(30px);
    transition: 600ms;
    bottom: -5vh;
    z-index: -1;
    grid-template-columns: auto auto auto auto auto auto auto; 
} .building {
    width: 20vw;
    height: 64vh;
    background: orange;
    border: 3px solid black;
} 